* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background: #000;
}

ul,
li {
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1600px;
        padding: 20px;
        .logo {
            a {
                color: white;
                font-size: 30px;
                font-weight: bold;
                border: 4px solid white;
                padding: 0 10px;
            }
        }
        .nav {
            >ul {
                >li {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    padding: 15px;
                    margin-right: 80px;
                    a {
                        color: white;
                        &#login {
                            background: white;
                            color: black;
                            padding: 10px 50px;
                            border-radius: 5px;
                        }
                        &:not(:last-child) {
                            cursor: default;
                        }
                    }
                    &:hover {
                        >.menu {
                            top: 100%;
                            opacity: 1;
                            height: max-content;
                        }
                    }
                    >.menu {
                        top: 200%;
                        opacity: 0;
                        height: 0;
                        text-align: left;
                        background: white;
                        border-radius: 5px;
                        overflow: hidden;
                        position: absolute;
                        left: 0;
                        transition: .2s;
                        min-width: 300px;
                        a {
                            color: black;
                            padding: 20px;
                            display: block;
                            &:hover {
                                background: #eee;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Button Menu */

.btn-menu {
    z-index: 3;
    width: 40px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }
    &.open {
        span {
            &:nth-child(1) {
                top: 10px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 10px;
                transform: rotate(-135deg);
            }
        }
    }
}

// Heroes
.heroes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    h2 {
        letter-spacing: 10px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
        color: cyan;
    }
    h1 {
        font-size: 100px;
        word-spacing: 10px;
        .cursor {
            animation: line .8s infinite linear;
            height: 10%;
            background: white;
        }
    }
}

@keyframes line {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

// Responsive
@media (max-width: 768px) {
    header {
        margin: 0;
        .logo {
            a {
                font-size: 25px !important;
                border: none !important;
            }
        }
        .nav {
            width: 0;
            position: absolute;
            top: -200px;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            z-index: 2;
            background: #000;
            padding: 0 10px;
            transition: .2s;
            opacity: 0;
            >ul {
                display: flex;
                flex-direction: column;
                >li {
                    margin: 0 !important;
                    padding: 0 !important;
                    a {
                        color: white;
                        display: block;
                        padding: 15px !important;
                        cursor: pointer !important;
                    }
                    .menu {
                        position: relative !important;
                        transition: .5s !important;
                        height: 0 !important;
                    }
                    &:hover .menu {
                        height: max-content !important;
                    }
                }
            }
        }
        nav.active {
            height: 100%;
            opacity: 1;
            top: 70px;
        }
        .btn-menu {
            display: block;
        }
    }
}